.content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  width: 650px;
}
nav {
  background-color: lightblue;
  border: solid;
  list-style-type: none;
  margin-bottom: 20px;
}
h2 {
  padding-top: 10px;
}
p {
  padding-bottom: 10px;
}
footer {
  background-color: lightblue;
  border: solid;
  height: 1%;
  list-style-type: none;
  margin-top: 20px;
}
img {
  height: 300px;
  width: 400px;
}
.project-image {
  height: 300px;
  width: 500px;
}
ul#footer {
  list-style: none;
}
ul#footer li {
  display: inline;
  font-family: serif;
  font-size: 15px;
  margin: 50px
}
ul#navigation {
  list-style:none;
}
ul#navigation li {
  display: inline;
  font-family: serif;
  font-size: 20px;
  padding: 20px;
}
.page-item:nth-child(odd) {
  background-color: pink;
}
.page-item:nth-child(even) {
  background-color: beige;
}
#button-spacing {
  padding-top: 10px;
}
#button-pad {
  margin-bottom: 10px;
}
.slideshow-container {
  position: relative;
  margin: auto;
}
.individual-slide {
  display: none;
  padding-top: 20px;
}
#dot-container {
  text-align: center;
}
.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}
.hide-comments {
    display: none;
}
.show-comments {
    visibility: visible;
}
.active {
  background-color: #717171;
}
#greeting-container {
  margin-bottom: 20px;
  margin-top: 20px;
}
#comments-container {
  list-style-type: none;
  margin-left: 200px;
}
.comments {
  background-color: beige;
}
.comments h2 {
  margin-bottom: 0;
}
#maxComments {
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: 25px;
}
#commentInput {
  margin-top: 10px;
}
#commentButton {
  vertical-align: middle;
}
#comment {
  vertical-align: middle;
}
.comment-features-container {
  align-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}
#max-comment-feature {
  float: left;
  margin-left: 100px;
  margin-bottom: 0;
  margin-right: 40px;
  padding-bottom: 0;
}
#delete-comment-feature {
  float: right;
  height: 30px;
  margin-top: 10px;
}
.speech-bubble {
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  width: 110px;
}
.hide-login-form {
    display:none;
}
.show-login-form {
    visibility: visible;
}
.speech-bubble .arrow {
  border-style: solid;
  position: absolute;
}
.bottom {
  border-color: #c8c8c8 transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
}
#map {
  align-content: center;
  height: 600px;
  margin: auto;
  padding: 10px;
  width: 400px;
}
